.frame_left {
  border-bottom: 3px solid rgb(88, 118, 45);
  padding: 0.5em 0.5em;
  padding-top: 0.5em ;
  width: 250px;
  padding-bottom: 0.1em;
  margin: 3em 1em 0 15em;
  margin-top: 3em;
  float: left;
  background: #f0f0f0;
 }

 .frame_right {
  border-bottom: 2px solid rgb(88, 118, 45);
  padding: 0.5em 0.5em;
  padding-top: 0.5em ;
  width: 250px;
  padding-bottom: 0.1em;
  margin: 3em 15em 0em 0;
  margin-top: 3em;
  float: right;
  background: #f0f0f0;
 }
